.description {
  font-size: 20px;
  font-family: 'Roboto';
}
.homecontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  padding: 20px;
  width: 100%;
}
.main-head {
  font-size: 35px;
  font-family: 'Roboto';
}
.routes-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hr1 {
  width: 100%;
  color: gray;
}
